<h2>Create Your Account:</h2><br>
<form method="post" action="/signup">
  <p>Choose a Username: <input type="text" name="username" placeholder="Username"><p>
  <p>Choose a Password that is at least 5 characters long: <input type="password" name="password" placeholder="Password:">

  <input type="submit" value="Create Account">
</form>