<h2> Add a Goal </h2>
<form action='/goals' method='POST'>    
    <p>My Goal: <input type="text" name="content"></p>
    <p>Date Created: <input type="text" name="date_created" placeholder="mm/dd/yyyy"></p>
    <p>I want to accomplish my goal by... <input type="text" name="completion_goal_date" placeholder="mm/dd/yyyy"> </p>
    <p>Goal Completed? <input type="checkbox" name="successful"</p>
    <input type="submit" value="Create Goal">
</form>


